
.portfolioList {
  font-size: 14px;
  font-weight: 500;
  margin-right: 50px;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  @media(max-width:768){
    margin-right: 20px;
  }
  &.active {
    background-color:brown;
    color: white;
  }
}
