@import url('../../global.css');
.contact{
    background-color: white;
    display: flex;
    overflow: hidden;
    @media(max-width:768px){
        flex-direction: column;
        }
    .left{
        flex: 1;
        overflow: hidden;
        img{
          height: 100%;  
        }
    
    }
    .right{
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h2{
            font-size: 30px;
        }
        form{
            width: 70%;
            height: 70%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
        input{
            box-shadow: 0px 0px 15px -8px brown;
            width: 400px;
            height: 30px;
            font-size: 14px;
            border: 0;
            &:hover{
                transform: scale(1.06);
            }
            @media(max-width:768px){
               width: 200px;
               height: 20px;
                }
        }
        textarea{
            border: 0;
            box-shadow: 0px 0px 15px -8px brown;
            width: 400px;
            height: 200px;
            font-size: 14px;
            &:hover{
                transform: scale(1.06);
            }
            @media(max-width:768px){
                width: 200px;
                height: 100px;
                 }
        } 
        button{
            width: 150px;
            height: 30px;
            color: white;
            background-color: brown;
            border: none;
            border-radius: 10px;
            font-weight: 500;
            cursor: pointer;
            &:focus{
                outline: none;
            }
            &:hover{
                background-color: rgb(145, 1, 1);
                transform: scale(1.06);
            }
        }    
        span{
            color: green;
        }   
    }
    }
}
.social-media {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .social-media a {
    font-size: 30px;
    transition: transform 0.3s ease, color 0.3s ease;
  }
  

  
  /* Social Media Colors */
  .facebook {
    color: #4267B2;
  }
  
  .twitter {
    color: #1DA1F2;
  }
  
  .instagram {
    color: #C13584;
  }
  
  .linkedin {
    color: #0077B5;
  }
  
  .github {
    color: #333;
  }
  
  .youtube {
    color: #FF0000;
  }
  .telegram {
    color: #0088cc;
  }
  