.app{
    height: 100vh;
    overflow: hidden;
    scrollbar-width: 0;

    .sections{
        width: 100%;
        height: calc(100vh - 70px);
        background-color: rgb(214, 241, 232);
        position: relative;
        top: 70px;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
        /* scrollbar-width: none;  
        &::-webkit-scrollbar{
            display: none;
        } */
        > *{
            width: 100vw;
            height: calc(100vh - 70px);
            scroll-snap-align: start;
        }
    }
}